{% extends 'base.html' %}

{% block title %}

<title>
    form page
</title>


{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for message in messages %}
<div class="alert alert-primary" role="alert">
  {{ message }}
</div>

    {% endfor %}

  {% endif %}
{% endwith %}

<div class="container">
 <div class="jumbotron mt-5">
    <h1> hello my name is : {{Name}} , my age is : {{Age}} </h1>
     <p>{{session['name']}}</p>
 </div>
</div>
{%  endblock %}